<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Covid-19 Status</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="titleText">Corona virus status around the world</div>
    <div class="devider"></div>
    <div class="infoText">
      THIS WEBPAGE IS MADE FOR EDUCATIONAL PURPOSES
    </div>

    <div class="wrapper">
      <table>
        <thead class="headstick">
          <tr>
            <th class="headcolstick">#</th>
            <th class="headcolstick">Country</th>
            <th class="headcolstick">Population</th>
            <th class="headcolstick">Confirmed Cases</th>
            <th class="headcolstick">Deaths</th>
            <th class="headcolstick">Recovered</th>
          </tr>
        </thead>

        <tbody>
          <% let index=1; const s="countryCardHeader";
          Object.entries(data).forEach(([key, value]) => {%>
          <tr class="list-group-item-info">
            <%if (1===1){%>
            <td class="indexNum">
              <div class="d-flex flex-row justify-content-center">
                <div><%= index++ %></div>
              </div>
            </td>
            <td class="countryCardHeader">
              <div class="d-flex flex-row justify-content-center">
                <div><%= key %></div>
              </div>
            </td>
            <td>
              <div class="cardInfo">
                <div class="propLabel">Population:</div>
                <div><%= value.population %></div>
              </div>
            </td>
            <td>
              <div class="cardInfo">
                <div class="propLabel">Confirmed Cases:</div>
                <div><%= value.confirmed %></div>
              </div>
            </td>
            <td>
              <div class="cardInfo">
                <div class="propLabel">Deaths:</div>
                <div><%= value.deaths %></div>
              </div>
            </td>
            <td>
              <div class="cardInfo">
                <div class="propLabel">Recovered:</div>
                <div><%= value.recovered %></div>
              </div>
            </td>
            <%}%>
          </tr>

          <% }); %>
        </tbody>
      </table>
      <div class="footerText">
        STAY SAFE AND INSIDE
      </div>
    </div>
  </body>
</html>
